* {
  margin: 0;
  padding: 0;
}

.App {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100vm;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) and (max-width: 1200px) {
  .App-wrapper {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .App-wrapper {
    width: 1000%;
  }
}